APP_ENV=development
HTTP_ADDR=:8082
FRONTEND_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USER=stok_user
DB_PASSWORD=stok_password
DB_NAME=stock_etsy_db
DB_SSLMODE=disable
DB_MAX_CONNS=10
DB_MIN_CONNS=1

AUTH_SERVICE_URL=http://localhost:8081
AUTH_SERVICE_REQUEST_TIMEOUT=5s

ETSY_API_BASE_URL=https://openapi.etsy.com/v3/application
ETSY_OAUTH_AUTHORIZE_URL=https://www.etsy.com/oauth/connect
ETSY_OAUTH_TOKEN_URL=https://api.etsy.com/v3/public/oauth/token
ETSY_CLIENT_ID=
ETSY_API_KEY=
ETSY_SHARED_SECRET=
ETSY_REDIRECT_URI=http://localhost:8082/etsy/oauth/callback
ETSY_SCOPES=shops_r listings_r

TOKEN_ENCRYPTION_KEY=
SYNC_MAX_CONCURRENCY=2
SYNC_REQUEST_TIMEOUT=15s
